.log-form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

.log-form input {
    height: 40px;
    width: 30vw;
    border-radius: 3px;
    border: 1px solid rgb(189, 189, 189);
    font-size: 1.6rem;
    color: rgb(104, 104, 104);
    margin-bottom: 20px;
    background-color: rgb(240, 240, 240);
    padding: 5px;
}

.login-alert {
    color: red;
    font-weight: 300;
}

#rememberMe {
    height: 18px;
    width: 18px;
}

.log-form label {
    font-size: 1.8rem;
    font-weight: 300;
    color: rgb(82, 82, 82);
}