footer {
    background-color: rgb(29, 117, 168);
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.5rem;

}

footer p:nth-child(1) {
    margin-top: 10px;
}



footer a {
    font-size: 2.2rem;
    color: white;
}